/*  Propiedades de texto aplicadas a los párrafos */
p {
    color: red;                                /* Cambia el color del texto */
    font-family: Arial, Helvetica, sans-serif; /* Define la fuente del texto, con alternativas de respaldo */
    font-size: 20px;                           /* Ajusta el tamaño del texto */
    font-weight: bold;                         /* Grosor del texto: 'bold' equivale a 700 */
    font-style: italic;                        /* Aplica estilo cursiva */
    text-align: justify;                       /* Alinea el texto en bloques justificados */
    text-decoration: line-through;             /* Tacha el texto */
    line-height: 2;                            /* Altura de línea (espacio entre líneas), no el tamaño de letra */
    letter-spacing: 10px;                      /* Espacio entre letras */
    text-transform: uppercase;                 /* Convierte todo el texto a MAYÚSCULAS */
}

/*  Estilo para los enlaces */

a {
    text-decoration: none;                     /* Elimina el subrayado predeterminado */
}


/*  Estilo para los títulos h1 */
h1 {
    text-align: center;                        /* Centra el título horizontalmente */
}
